<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
  <div class="container">
    <button class="navbar-toggler" style="margin-right: 0 auto" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active px-lg-4">
          <%= link_to 'Home', root_path,
            class: 'nav-link text-uppercase text-expanded' %>
        </li>
        
        <li class="nav-item px-lg-4">
          <%= link_to 'Agenda', site_schedule_index_path,
          class: 'nav-link text-uppercase text-expanded'%>
        </li>
        
        <li class="nav-item px-lg-4">
          <%= link_to 'Eventos passados', site_events_path,
          class: 'nav-link text-uppercase text-expanded'%>
        </li>
        
        <li class="nav-item px-lg-4">
          <%= link_to 'Lanchonete', site_cafe_home_index_path,
          class: 'nav-link text-uppercase text-expanded' %>
        </li>
        
        <li class="nav-item px-lg-4">
          <%= link_to 'Contato', root_path, 
          'data-toggle': "modal", 'data-target': '#exampleModalCenter',
          class: 'nav-link text-uppercase text-expanded' %>
        </li>
        
        <% if user_signed_in? %>
          <li class="nav-item px-lg-4">
            <%= link_to 'Sair', destroy_user_session_path,
            method: :delete,
            data: { confirm: ("Sair de #{current_user.email}") },
            class: 'nav-link text-uppercase text-expanded' %>
          </li>
        <% else %>
          <li class="nav-item px-lg-4">
            <%= link_to 'Entrar', new_user_session_path,
            class: 'nav-link text-uppercase text-expanded' %>
          </li>
          
          <li class="nav-item px-lg-4">
            <%= link_to 'Cadastre-se', new_user_registration_path, 
            class: 'nav-link text-uppercase text-expanded' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
