<h1 class="page-header"><%= action %> Cardápio</h1><hr><br>

<% if @menu.errors.any? %>
  <div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-lg-6">
  <%= form_for([:backoffice, @menu]) do |f| %>
    <div class="row">
      <div class="col-25">
        <%= f.label 'Título: ' %>
      </div>
      <div class="col-75">
        <%= f.text_field :title, class: 'form-control', placeholder: 'Título' %>
      </div>
    </div>
  
    <div class="row">
      <div class="col-25">
        <%= f.label 'Descrição: ' %>
      </div>
      <div class="col-75">
        <%= f.text_area :description, class: 'form-control', rows: 4, placeholder: 'Descrição' %>
      </div>
    </div><br>
    
    <div class="row">
      <div class="col-25">
        <%= f.label 'Preço: ' %>
      </div>
      <div class="col-75">
        <%= f.text_field :price, class: 'form-control', placeholder: 'Preço' %>
      </div>
    </div>
    
      <%= f.fields_for :items do |items_form| %>
        <div class="row">
          <div class="col-25">
            <%= items_form.label 'Item: ' %>
          </div>
          <div class="col-75">
            <%= items_form.collection_select(:title, @items, :title, :title) %>
          </div>
        </div>
        
        <div class="row">
          <div class="col-25">
            <%= items_form.label 'Quantidade: ' %>
          </div>
          <div class="col-75">
            <%= items_form.text_field :quantity, class: 'form-control', placeholder: 'Quantidade' %>
          </div>
        </div>
      <% end %>
    
    <div class="row">
      <div class="col-25">
        <%= f.label 'Imagem: ' %>
      </div>
      <div class="col-75">
        <%= f.file_field :image %>
      </div>
    </div><br>
    
    <%= f.submit 'Salvar', class: 'float-left btn btn-primary' %><br><br><br>
  <% end %>
</div>