<div class="nested-fields">
  <div class="row">
    <div class="col-25">
      <%= f.label 'Item: ' %>
    </div>
    <div class="col-75">
      <%= f.collection_select(:title, @items, :title, :title) %>
    </div>
  </div>

  <div class="row">
    <div class="col-25">
      <%= f.label 'Quantidade: ' %>
    </div>
    <div class="col-75">
      <%= f.text_field :quantity, class: 'form-control', placeholder: 'Quantidade' %>
    </div>
  </div>
  
  <%= link_to_add_association('Adicionar', f) %>
  
  <%= link_to_remove_association('Remover', f) %>
</div>
