<section style="padding-bottom: 4%">
  <h1><%= social_share_button_tag(@event.title, rel: 'twipsy') %></h1>

  <br>

  <div class="container">
    <div class="row">
      <h3 style="color: white">
        <%= @event.title %>
      </h3>

      <% if (user_signed_in?) %>
        <% unless @event.users.include?(current_user) %>
          <%= link_to(site_path(@event), method: :post, class: 'btn btn-info float-right', style: 'color: white') do %>
            <i class="far fa-check-circle"></i>
            <span>Marcar presença...</span>
          <% end %>
        <% else %>
          <%= link_to('#', class: 'btn btn-success float-right disabled', style: 'color: white') do %>
            <i class="far fa-check-circle"></i>
            <span>Eu vou!</span>
          <% end %>
        <% end %>
      <% end %>

      <%= image_tag @event.image, width: '100%' %>
    </div>
  </div>
</section>

<section style="padding-top: 2%; padding-bottom: 2%" class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center">
          <h2 class="section-heading mb-5">
            <div style="position: relative">
              <%= rating_for @event, 'quality', size: '30px' %>
            </div>
            
            <br>
            
            <span class="section-heading-upper">Deixe seu comentário</span>
          </h2>

          <%= form_tag site_comments_path, style: 'position: relative; margin-top: -30px' do %>
            <ul class="list-unstyled list-hours mb-5 text-left mx-auto" >
              <li class="list-unstyled-item list-hours-item d-flex" style="border-bottom: none">
                <div class="form-group" style="width: 100%">
                  <%= text_area :comment, :body, class: 'form-control', rows: 4 %>
                  <%= hidden_field :comment, :event_id, value: @event.id %>
                </div>
              </li>
              <%= submit_tag 'Enviar', class: 'btn btn-primary', style: 'margin-top: -10%; width: 100%' %>
            </ul>
          <% end %>

          <% @event.comments.each do |comment| %>
            <ul style="position: relative" class="list-unstyled list-hours mb-5 text-left mx-auto">
              <span class="ml-auto"><b><%= comment.user.email %></b></span>
              <span class="ml-auto float-right"><%= time_ago_in_words(comment.created_at) %></span>
              <li class="list-unstyled-item list-hours-item d-flex" style="margin-bottom: -5%">
                <p><%= comment.body %></p>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
