<h1 style="color: #e0e0e0; border-left: 5px solid #fdcb00; padding-left: 10px"> Agenda</h1>

<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-sm" style="margin-top: 40px">
        <%= link_to(site_event_path(event)) do %>
          <div id=<%= "img#{event.id}" %>>
            <p><%= event.title.truncate(40) %></p>
          </div>
          
          <script>
            $(document).ready(function(){
              $("#img<%=event.id%>").on('mouseenter', function(){
                $('body').css({'background-image':'url(<%= url_for(event.image) %>)', 'transition':'0.2s'})
              }).on('mouseleave', function(){
                $('body').css('background-image', "<% image_tag('bg') %>")
              })
            })
          </script>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
